pip install pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sap\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sap\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sap\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

ser=pd.Series()
print(ser)

data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)

Series([], dtype: float64)
0    g
1    e
2    e
3    k
4    s
dtype: object

C:\Users\SAP\AppData\Local\Temp\ipykernel_9324\3193482268.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser=pd.Series()

# reading csv file

In [4]:
import pandas as pd
data=pd.read_csv('industry.csv')
print(data)

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

# creating dataframe using panda

In [6]:
import pandas as pd

data={'name':['tom','nick','krish','jack'],'age':[20,21,22,23]}
df=pd.DataFrame(data)
print(df)

    name  age
0    tom   20
1   nick   21
2  krish   22
3   jack   23

In [7]:
data_dict={
    'name':['alice','bob','charlie','david'],
    'age':[25,30,22,28],
    'city':['new york','Los angeles','chicago','houston']
}
df_dict=pd.DataFrame(data_dict)
print(df_dict)

      name  age         city
0    alice   25     new york
1      bob   30  Los angeles
2  charlie   22      chicago
3    david   28      houston

In [8]:
#creating a dataframe using list of ditionaries

data_list_of_dicts=[
    {'name':'elly','age':29,'city':'san francisco'},
    {'name':'belly','age':39,'city':'san andreas'},
]

df_from_list_dicts=pd.DataFrame(data_list_of_dicts)
print(df_from_list_dicts)

    name  age           city
0   elly   29  san francisco
1  belly   39    san andreas

In [21]:
import pandas as pd

info =pd.DataFrame (
    {
        'p': [1, 2, 3, 4, 5],
        'q': [10, 11, 12, 13, 14],
        'r': [12, 1, 31, 4, 1],
        's': [1, 31, 4, 12, 54]
    },index = ['parker', 'mark', 'binod', 'vinod','hari']
)
info

        p   q   r   s
parker  1  10  12   1
mark    2  11   1  31
binod   3  12  31   4
vinod   4  13   4  12
hari    5  14   1  54

In [23]:
# reindexing
info.reindex(['a','b','c','d','e'],fill_value=100)

     p    q    r    s
a  100  100  100  100
b  100  100  100  100
c  100  100  100  100
d  100  100  100  100
e  100  100  100  100

# pandas sort

In [28]:
#ascending sorting
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,8,7])
sorted_df=unsorted_df.sort_index()
sorted_df

          0         1
1 -0.458161  0.934228
2  0.488387 -0.794958
3  0.661559  1.213234
4  1.223157 -0.646153
5 -1.013985  1.861040
6 -0.045204 -0.762717
7  2.402875  1.309209
8 -2.151730  0.534969
8 -0.654866 -0.576004
9 -0.409706 -0.328174

In [29]:
#descending sorting
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,8,7])
sorted_df=unsorted_df.sort_index(ascending=False)
sorted_df

          0         1
9  0.876539 -1.202671
8 -0.800651 -1.463968
8 -0.245183  0.190741
7  0.077200  2.750801
6  0.269087 -1.462676
5 -0.285758  0.441764
4 -0.138224 -0.140734
3 -0.917246  0.743865
2 -0.816697 -0.462336
1  1.333163 -0.471448

In [30]:
#sorting through columns
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,8,7])
sorted_df=unsorted_df.sort_index(axis=1)
sorted_df

          0         1
1  0.134256  2.538218
4  0.686496  1.475447
6  1.403640  1.498761
2 -1.281361 -0.530168
3 -0.291505 -2.034289
5  0.672195 -1.242875
9  0.430474 -0.703916
8 -1.024710 -0.708147
8 -0.548726 -0.376767
7 -0.870464 -0.546364

In [35]:
#sort by value

unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df=unsorted_df.sort_values(by='col1')
sorted_df

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

# working with text data

In [37]:
s=pd.Series(['tom','william rick','john','albert',np.nan,'1234','Stevesmith'])
print(s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3          ALBERT
4             NaN
5            1234
6      STEVESMITH
dtype: object

# Statistical Functions

In [41]:
data={
    'maths':[90,290,10,29,340],
    'Science':[309,3481,3498,450,230]
}
df=pd.DataFrame(data)
df
df.sum()

maths       759
Science    7968
dtype: int64

In [40]:
df.median()

maths       90.0
Science    450.0
dtype: float64

In [44]:
s=pd.Series(['monday','tuesaday','wednesday','thrusday','friday','saturday','sunday'])

In [43]:
s

0       monday
1     tuesaday
2    wednesday
3     thrusday
4       friday
5     saturday
6       sunday
dtype: object

In [45]:
print(s[4])

friday

In [47]:
s1

day1    NaN
day2    NaN
day3    NaN
day4    NaN
day5    NaN
day6    NaN
day7    NaN
dtype: object